%p
  %b Body:
  = @content.body

  %br
  
  %b Type:
  = @content.content_type.name

= link_to 'Edit', edit_presentation_slide_content_path(@presentation, @slide, @content)
\|
= link_to 'Back', presentation_slide_contents_path(@presentation, @slide)
