%h1 Editing slide

%h3 THIS WILL BE REPLACED

= render 'form'

= link_to 'Show', presentation_slide_path(@presentation.user, @presentation, @slide)
&nbsp;|&nbsp;
= link_to 'Back', presentation_slides_path(@presentation.user, @presentation)
