%h1 Listing slides

%table
  %tr
    %th
    %th
    %th

  - @slides.each do |slide|
    %tr
      %td= slide.id
      / %td= link_to 'Show', slide
      / %td= link_to 'Edit', edit_presentation_slide_path(slide)
      / %td= link_to 'Destroy', slide, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Slide', new_presentation_slide_path
