.reveal
  .state-background
  .slides
    section class="slide" data-slide-num="0"
      - @slide.contents.each do |content|
        div id="mercury_content" data-mercury="full"= content.body.html_safe

  
  aside class="controls"
    a class="left" href="#"
      | &#x25C4;
    a class="right" href="#"
      | &#x25BA;
    a class="up" href="#"
      | &#x25B2;
    a class="down" href="#"
      | &#x25BC;

  .progress
    span

javascript:
  var presentation_id = $('body').data('presentation_id');
  $(function() {

    // REVEAL
    var reveal = Reveal.initialize({
      controls: false,
      progress: true,
      history: true,
      keyboard: false,
      theme: Reveal.getQueryHash().theme || 'default', // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/linear(2d)

      // Optional libraries used to extend on reveal.js
      dependencies: [
                    { src: '//amoose.github.io/presentations/lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
                    { src: '//amoose.github.io/presentations/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: '//amoose.github.io/presentations/lib/js/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '//amoose.github.io/presentations/lib/js/data-markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      ]
    });

    var currentSlide = 0;
    Reveal.addEventListener( 'ready', function( event ) {
      currentSlide = event.currentSlide;
    });

  });