<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-users_index"><%= link_to "Users", casein_users_path %></li>
<li id="tab-presentations"><%= link_to "Presentations", casein_presentations_path %></li>