/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

$default-text-color: #000;

.main-login {
  display: block;
  margin: 0 auto;
  width: 360px;
  padding: 40px 80px;
}

.big {
  font-size: 4.0em;
}


h1, h2, h3, h4, h5 {
}


.navbar-brand {
  font-size: 3.0em;
  font-family: 'Chango', cursive;
  letter-spacing: -3px;
}
.brand {
  font-family: 'Chango', cursive;
  letter-spacing: -1px;
  font-size: 2.0em;
}

body {
	background-size: cover;
	background-attachment: fixed;
  position: relative;
  margin: 0;
  font-family: 'Voces', cursive !important;

  a, a:link {

    &:hover {
      text-decoration: none;
    }
  }

  nav {
    li {
      i {
        font-size: 12em !important;
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    color: #E9E9E9;
    width: 100%;
  }


}

.login-box {
  margin: 0 auto;
  width: 360px;
}

.navbar-right {
  // float: right;
}

.alert { border-radius: 0 !important; }

.profile {
  h3 {
    margin: 0;
    padding: 0 0 10px 0;
  }
  .twitter-info {
    img {
      width: 32px;
      margin: 0 10px;
    }
  }
}
body {
  padding: 10px 15px;
}

.new_presentation {
  textarea {
    width: 100%;
    min-height: 200px;
  }
  input[type=text] {
    width: 100%;
  }
  .presentation_is_public {

  }
}

.simple_form {
  .control-group {
    margin: 0 0 20px 0;
  }
}

input, textarea, select {
  font-size: 16px;
  padding: 5px 9px;
}


.main-nav {
  list-style: none;
  li {
    list-style: none;
  }
  a {
    font-size: 3.0em;  
  }
  
}

.owl-carousel .item{
  margin: 20px 30px;
  width: 475px;
}
.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) {

// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {

// }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {

// }
// @media (max-width: @screen-xs-max) { }
// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { }
// @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { } 
// @media (min-width: @screen-lg-min) { }