/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

$default-text-color: #000;

$launch-button-color: #0b5109;
$destroy-button-color: #d1d1d1;
$detail-buttons-lighten-amount: 20%;


.main-login {
  display: block;
  margin: 0 auto;
  width: 360px;
  padding: 40px 80px;
}

.big {
  font-size: 2.0em;
}


h1, h2, h3, h4, h5 {
}


.navbar-brand {
  font-size: 3.0em;
  font-family: 'Chango', cursive;
  letter-spacing: -3px;
}
.brand {
  font-family: 'Chango', cursive;
  letter-spacing: -1px;
  font-size: 2.0em;
}

body {
  background: #f2f2f2;
	background-size: cover;
	background-attachment: fixed;
  position: relative;
  margin: 0;
  font-family: 'Voces', cursive !important;
  padding: 0;
  margin: 0;
  a, a:link {

    &:hover {
      text-decoration: none;
    }
  }
  #login-modal {
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  header {
    nav.navbar-default {
      background: white;
      border-radius: 0;
    }
  }

  .small-detail {
    margin-bottom: 4.0em;
    border: 1px solid #cecece;
    padding: 2.0em 2.5em;
    background: rgba(255, 255, 255, 0.5);
    .detail-bar {
      font-size: 2.0em;
      list-style-type: none;
      list-style-position: outside;
      margin: 1.0em 0 0 0;
      padding: 0;
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
        &:hover {
          box-shadow: 0 0 0.8em 0.1em #000;
        }
        .fa {
          // margin-right: 0.5em;
          margin-right: -1.5em;
          padding-right: 0;
          // padding: 0.5em 0 0.5em 0;
        }
        a {
          padding: 0.5em 1.0em;
          line-height: 2.0em;
        }
      }
      .launch {
        background-color: $launch-button-color;
        a {
          color: white;
        }
        &:active {
          background-color: lighten($launch-button-color, $detail-buttons-lighten-amount);
        }
      }
      .destroy {
        background-color: $destroy-button-color;
        a {
          color: #545454;
        }
        &:active {
          background-color: lighten($destroy-button-color, $detail-buttons-lighten-amount);
        }
      }
      .view {
        background-color: #1f5bb5;
        a {
          color: #ffffff;
        }
        &:active {
          background-color: lighten(#1f5bb5, $detail-buttons-lighten-amount);
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    color: #E9E9E9;
    width: 100%;
    background: white;
  }


}

.login-box {
  margin: 0 auto;
  width: 360px;
}

.navbar-right {
  // float: right;
}

.alert { border-radius: 0 !important; }

.profile {
  h3 {
    margin: 0;
    padding: 0 0 10px 0;
  }
  .twitter-info {
    img {
      width: 32px;
      margin: 0 10px;
    }
  }
}
body {
  padding-bottom: 30px;
}

.new_presentation {
  textarea {
    width: 100%;
    min-height: 200px;
  }
  input[type=text] {
    width: 100%;
  }
  .presentation_is_public {

  }
}

.simple_form {
  .control-group {
    margin: 0 0 20px 0;
  }
}

input, textarea, select {
  font-size: 16px;
  padding: 5px 9px;
}


.main-nav {
  list-style: none;
  li {
    list-style: none;
  }
  a {
    font-size: 3.0em;  
  }
  
}

.owl-carousel .item{
  margin: 20px 30px;
  width: 475px;
}
.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.media {
  // .media-left {
  //   width: 250px;
  //   height: 125px;
  //   img {
  //     width: 128px;
  //     height: 128px;
  //     opacity: 0.9;
  //     &:hover {
  //       opacity: 1.0;
  //     }
  //   }
  // }
  .media-image {
    img {
      max-width: 128px;
    }
    margin-right: 2.0em;
    float: left;
    position: relative;
    i {
      position: absolute;
      bottom: -5px;
      right: -5px;
      font-size: 2.0em;
      color: #ffffff;
      text-shadow: 1px 2px 4px #545454;
    }
  }
  .media-body {

  }
  .media-footer {
    font-size: 0.8em;
    clear: both;
    a {
      color: #c1c1c1;
    }
  }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) {

// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {

// }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {

// }
// @media (max-width: @screen-xs-max) { }
// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { }
// @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { } 
// @media (min-width: @screen-lg-min) { }

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-left: 20px;
}