/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 += require bootstrap
*/

$default-text-color: #545454;
.content {
  
}

.semi-trans-bg,
.content {
  padding: 10px 20px;
  font-family: Arial;
  // color: #FFFFFF;
  // background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  // background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

  // -webkit-border-radius: 8px;
  // -moz-border-radius: 8px;
  // border-radius: 8px;
  // -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  // -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  // box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.main-login {
  display: block;
  margin: 0 auto;
  width: 360px;
  padding: 40px 80px;
}

// #main {
//   float: right;
// }

h1, h2, h3, h4, h5 {
  font-weight: bold !important;
}

.brand,
.navbar,
.merri {
	font-family: 'Merriweather Sans', sans-serif;
  // font-family: 'Cinzel', serif;
}

.brand {
  font-size: 3.0em;
  font-weight: 900;
}
.content,
.cinzel {
	// font-family: 'Cinzel', serif;
}

body {
	// background: image-url('bg05.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
  position: relative;
  z-index: 1;
  margin: 1.5em 2.0em !important;
}

.login-box {
  margin: 0 auto;
  width: 360px;
}

.navbar-right {
  // float: right;
}

.alert { border-radius: 0 !important; }

.profile {
  h3 {
    margin: 0;
    padding: 0 0 10px 0;
  }
  .twitter-info {
    img {
      width: 32px;
      margin: 0 10px;
    }
  }
}
body {
  font-family: 'Merriweather Sans', sans-serif !important;
  padding: 10px 15px;
  #main {
    padding: 10px 15px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.18) 0%, rgba(255,255,255,0.18) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.18)), color-stop(100%,rgba(255,255,255,0.18))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(255,255,255,0.18) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(255,255,255,0.18) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(255,255,255,0.18) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.18) 0%,rgba(255,255,255,0.18) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2effffff', endColorstr='#2effffff',GradientType=0 ); /* IE6-9 */
    border: 1px solid #e1e1e1;
    border-radius: 15px;
    color: $default-text-color;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather Sans', sans-serif !important;
}

.new_presentation {
  textarea {
    width: 100%;
    min-height: 200px;
  }
  input[type=text] {
    width: 100%;
  }
  .presentation_is_public {

  }
}

.simple_form {
  .control-group {
    margin: 0 0 20px 0;
  }
}

input, textarea, select {
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif !important;
  padding: 5px 9px;
}