/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require revealjs/reveal.min
 *= require revealjs/theme/default
 *= require revealjs/lib/css/zenburn
*/

#main {
	// height: 100%
}


body.boss {
  nav {
  	background: green;
  }
}
body.kibitz {
  nav {
  	background: red;
  }
}
body.boss, body.kibitz {
	nav {
		position: relative;
		top: 0;
		width: 100%;
		height: 20px;
	}
}

body {
  nav {
    color: grey;
    a {
      color: white;
    }
  }
  #mercury_image {
    padding: 100px 50px;
    min-height: 100px;
    min-width: 100px;
  }
}
.brand {
  font-family: 'Chango', cursive !important;
  text-transform: lowercase !important;
  font-weight: normal !important;
  letter-spacing: -1px !important;
  font-size: 4.0em !important;
}