/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require revealjs/reveal.min

 

 *= require revealjs/lib/css/zenburn
*/


@import "bootstrap-sprockets";
@import "bootstrap";

#main {
	// height: 100%
}


body.boss {
  nav {
  	background: green;
  }
}
body.kibitz {
  nav {
  	background: red;
  }
}
body.boss, body.kibitz {
	nav {
		position: relative;
		top: 0;
		width: 100%;
	}
}

body {
  nav {
    color: grey;
    a {
      color: white;
    }
  }
  .slide-navigation {
    position: absolute;
    right: -220px;
    top: 0;
    z-index: 1;
    border-left: 1px solid #f2f2f2;
    height: 100%;
    width: 250px;
    &.expanded {
      right: 0;
    }
  }
  .slide-navigation,
  .presentation-navigation {
    padding: 10px 15px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.21) 0%, rgba(255,255,255,0.21) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.21)), color-stop(100%,rgba(255,255,255,0.21))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.21) 0%,rgba(255,255,255,0.21) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.21) 0%,rgba(255,255,255,0.21) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.21) 0%,rgba(255,255,255,0.21) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.21) 0%,rgba(255,255,255,0.21) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36ffffff', endColorstr='#36ffffff',GradientType=0 ); /* IE6-9 */
  }
  .presentation-navigation {
    font-family: 'Voces', cursive !important;
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 100%;    
    border-right: 1px solid #f2f2f2;
    left: -220px;
    &.expanded {
      left: 0;
    }
    .navbar-brand {
      font-size: 1.6em !important;
    }
  }
  .flash-messages {
    position: absolute;
    top: 4px;
    left: 33%;
    width: 35%;
    font-family: 'Voces', cursive !important;
  }
}
.brand, .navbar-brand {
  font-family: 'Chango', cursive !important;
  text-transform: lowercase !important;
  font-weight: normal !important;
  letter-spacing: -1px !important;
  font-size: 4.0em !important;
}
.img-circle {
  border-radius: 50%;
  vertical-align: middle;
  margin: 5px;
}


html {
  body {
    section {
      .main-image {
        width: 485px;
        margin: 0 auto;
        img,
        h5 {
          float: left;
        }
        h5 {
          margin: 1.75em 0 1.0em 1.0em;
        }
        img.img-circle {
          width: 128px;
          height: 128px;
        }
      }
    }
    a:hover .main-image .presenter {
      transition: color 0.5s ease;
      color: #55ACEE;
    }
    .fadeIn {
      display: none;
    }
    nav.navbar-presenter,
    nav.navbar-default {
      background: #545454;
      .divider {
        color: white;
      }
    }
    i.fa {
      font-family: 'FontAwesome';
      font-size: 1.2em;
      line-height: 1.0em;
      font-style: normal !important;
      color: #55ACEE;
    }
    a {
      &:hover i.fa {
        transition: color .15s ease;
      }
    }
  }
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-left: 20px;
}